name: Build and scan Docker Image
on: [push]
# Env variable
env:
  DOCKER_USER: stingray92
# DOCKER_USER: ${{secrets.DOCKER_USER}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  REPO_NAME: vlctechfest
# REPO_NAME: ${{secrets.REPO_NAME}}
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Get current date # get the date of the build
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d--%M-%S')"
          
    - name: Build the Docker image
      run: TAG=$DOCKER_USER/$REPO_NAME:${{ steps.date.outputs.date }} && docker build . --file busybox/Dockerfile --tag $TAG
      #run: docker build . --file busybox/Dockerfile --tag $DOCKER_USER/$REPO_NAME:${{ steps.date.outputs.date }} # Good image
#     run: docker build . --file dummy-vuln-app-master/Dockerfile --tag $DOCKER_USER/$REPO_NAME:${{ steps.date.outputs.date }} # Bad image
      
    - name: Sysdig Secure Inline Scan
      uses: sysdiglabs/scan-action@v3.4.0
      with:
        image-tag: $("echo $TAG")
        #image-tag: stingray92/vlctechfest:${{ steps.date.outputs.date }}
        sysdig-secure-url: https://eu1.app.sysdig.com/
        sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
        input-type: docker-daemon
        run-as-user: root
         
    - name: docker login
      run: | # log into docker hub account
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
    - name: Docker Push
      run: docker push $DOCKER_USER/$REPO_NAME:${{ steps.date.outputs.date }}

